{
  "ecmaVersion": 6,
  "parserOptions": {
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "impliedStrict": true,
    "modules": true
  },
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "es2015/node"
  ],
  "rules": {
    "no-constant-condition": 0
  }
}
